doctype html 
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title New topic
    body 
        h1 
            a(href='/topic/') Server Side JavaScript 
        ul 
          each topic in topics
            li
                a(href='/topic/'+topic.id)= topic.title
          else 
            li There are no topic.
        article 
            h2= title 
            = description
        h1 Add Topic
        form(action="/topic/add", method="post") 
            p
                input(type="text" name="title" placeholder="title")
            p
                textarea(name="description" placeholder="Description")
            p
                input(type="text" name="author" placeholder="author")
            p
                input(type="submit", value="Add")