doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Server Side JavaScript
    body 
        h1 
            a(href='/topic/') Server Side JavaScript 
        ul 
          each topic in topics
            li
                a(href='/topic/'+topic.id)= topic.title 
          else 
            li There are no topic.
        article 
            if topic
                h2= topic.title 
                = topic.description
                div= 'by '+topic.author
            else 
                h2 Welcome
                | This is server side javascript tutorial.
        ul 
            li 
                a(href='/add') add 
            if topic
                li
                    a(href='/topic/'+topic.id+'/edit') edit
                li
                    a(href='/topic/'+topic.id+'/delete') delete